In [1]:
# Import dependencies
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)

### Extract the crowdfunding.xlsx Data

In [9]:
# Read the data into a Pandas DataFrame
crowdfunding_info_df = pd.read_excel('C:\\Users\\Tasnia Wahid\\Downloads\\Starter_Files (1)\\Starter_Files\\Resources\\crowdfunding.xlsx')
crowdfunding_info_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays

In [9]:
# Get a brief summary of the crowdfunding_info DataFrame.
import pandas as pd

# Specify the correct file path based on your directory structure
file_path = r'C:\Users\Tasnia Wahid\Desktop\Starter_Files\Resources\crowdfunding.xlsx'

# Read the data into a Pandas DataFrame
crowdfunding_info_df = pd.read_excel(file_path)

# Display a brief summary of the DataFrame
summary = crowdfunding_info_df.info()

# Print the summary
print(summary)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   contact_id               1000 non-null   int64
 2   company_name             1000 non-null   object
 3   blurb                    1000 non-null   object
 4   goal                     1000 non-null   int64
 5   pledged                  1000 non-null   int64
 6   outcome                  1000 non-null   object
 7   backers_count            1000 non-null   int64
 8   country                  1000 non-null   object
 9   currency                 1000 non-null   object
 10  launched_at              1000 non-null   int64
 11  deadline                 1000 non-null   int64
 12  staff_pick               1000 non-null   bool
 13  spotlight                1000 non-null   bool
 14  category & sub-category  1000 non-null   object
dtypes: bool(2), int64(7), object(6)
memory usage: 103.6+ KB
None

### Create the Category and Subcategory DataFrames
---
**Create a Category DataFrame that has the following columns:**
- A "category_id" column that is numbered sequential form 1 to the length of the number of unique categories.
- A "category" column that has only the categories.

Export the DataFrame as a `category.csv` CSV file.

**Create a SubCategory DataFrame that has the following columns:**
- A "subcategory_id" column that is numbered sequential form 1 to the length of the number of unique subcategories.
- A "subcategory" column that has only the subcategories. 

Export the DataFrame as a `subcategory.csv` CSV file.

In [10]:
# Get the crowdfunding_info_df columns.
columns_list = crowdfunding_info_df.columns.tolist()

# Print the list of column names
print(columns_list)

['cf_id', 'contact_id', 'company_name', 'blurb', 'goal', 'pledged', 'outcome', 'backers_count', 'country', 'currency', 'launched_at', 'deadline', 'staff_pick', 'spotlight', 'category & sub-category']

In [11]:
# Assign the category and subcategory values to category and subcategory columns.
# Split the 'category & sub-category' column into 'category' and 'subcategory'
split_columns = crowdfunding_info_df['category & sub-category'].str.split('/', n=1, expand=True)

# Assign the values to 'category' and 'subcategory' columns
crowdfunding_info_df['category'] = split_columns[0]

# If 'subcategory' exists in the split columns, assign it; otherwise, create an 'subcategory' column with None values
if len(split_columns.columns) > 1:
    crowdfunding_info_df['subcategory'] = split_columns[1]
else:
    crowdfunding_info_df['subcategory'] = None

# Display the updated DataFrame
crowdfunding_info_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays

In [12]:
# Get unique categories and subcategories
unique_categories = crowdfunding_info_df['category'].unique().tolist()
unique_subcategories = crowdfunding_info_df['subcategory'].unique().tolist()

# Print the lists
print("Unique Categories:")
print(unique_categories)

print("\nUnique Subcategories:")
print(unique_subcategories)

Unique Categories:
['food', 'music', 'technology', 'theater', 'film & video', 'publishing', 'games', 'photography', 'journalism']

Unique Subcategories:
['food trucks', 'rock', 'web', 'plays', 'documentary', 'electric music', 'drama', 'indie rock', 'wearables', 'nonfiction', 'animation', 'video games', 'shorts', 'fiction', 'photography books', 'radio & podcasts', 'metal', 'jazz', 'translations', 'television', 'mobile games', 'world music', 'science fiction', 'audio']

In [13]:
# Get the number of distinct values in the categories and subcategories lists
num_unique_categories = len(unique_categories)
num_unique_subcategories = len(unique_subcategories)

# Print the counts
print("Number of Distinct Categories:", num_unique_categories)
print("Number of Distinct Subcategories:", num_unique_subcategories)

Number of Distinct Categories: 9
Number of Distinct Subcategories: 24

In [16]:
import numpy as np

# Create NumPy arrays for categories (1-9) and subcategories (1-24)
categories_array = np.arange(1, 10)
subcategories_array = np.arange(1, 25)

# Print the arrays
print("Categories Array:", categories_array)
print("Subcategories Array:", subcategories_array)

Categories Array: [1 2 3 4 5 6 7 8 9]
Subcategories Array: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24]

In [17]:
# Add "cat" to each category_id using list comprehension
categories_with_cat = [f"cat{category_id}" for category_id in categories_array]

# Add "subcat" to each subcategory_id using list comprehension
subcategories_with_subcat = [f"subcat{subcategory_id}" for subcategory_id in subcategories_array]

# Print the modified lists
print("Categories with 'cat':", categories_with_cat)
print("Subcategories with 'subcat':", subcategories_with_subcat)

Categories with 'cat': ['cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7', 'cat8', 'cat9']
Subcategories with 'subcat': ['subcat1', 'subcat2', 'subcat3', 'subcat4', 'subcat5', 'subcat6', 'subcat7', 'subcat8', 'subcat9', 'subcat10', 'subcat11', 'subcat12', 'subcat13', 'subcat14', 'subcat15', 'subcat16', 'subcat17', 'subcat18', 'subcat19', 'subcat20', 'subcat21', 'subcat22', 'subcat23', 'subcat24']

In [20]:
import pandas as pd

# Create a category DataFrame
category_df = pd.DataFrame({
    'category_id': [f'cat{category_id}' for category_id in categories_array],
    'category': unique_categories
})

# Create a subcategory DataFrame
subcategory_df = pd.DataFrame({
    'subcategory_id': [f'subcat{subcategory_id}' for subcategory_id in subcategories_array],
    'subcategory': unique_subcategories
})

# Print the DataFrames
print("Category DataFrame:")
print(category_df)

print("\nSubcategory DataFrame:")
print(subcategory_df)

Category DataFrame:
  category_id      category
0        cat1          food
1        cat2         music
2        cat3    technology
3        cat4       theater
4        cat5  film & video
5        cat6    publishing
6        cat7         games
7        cat8   photography
8        cat9    journalism

Subcategory DataFrame:
   subcategory_id        subcategory
0         subcat1        food trucks
1         subcat2               rock
2         subcat3                web
3         subcat4              plays
4         subcat5        documentary
5         subcat6     electric music
6         subcat7              drama
7         subcat8         indie rock
8         subcat9          wearables
9        subcat10         nonfiction
10       subcat11          animation
11       subcat12        video games
12       subcat13             shorts
13       subcat14            fiction
14       subcat15  photography books
15       subcat16   radio & podcasts
16       subcat17              metal
17       subcat18               jazz
18       subcat19       translations
19       subcat20         television
20       subcat21       mobile games
21       subcat22        world music
22       subcat23    science fiction
23       subcat24              audio

In [21]:
category_df

  category_id      category
0        cat1          food
1        cat2         music
2        cat3    technology
3        cat4       theater
4        cat5  film & video
5        cat6    publishing
6        cat7         games
7        cat8   photography
8        cat9    journalism

In [22]:
subcategory_df

   subcategory_id        subcategory
0         subcat1        food trucks
1         subcat2               rock
2         subcat3                web
3         subcat4              plays
4         subcat5        documentary
5         subcat6     electric music
6         subcat7              drama
7         subcat8         indie rock
8         subcat9          wearables
9        subcat10         nonfiction
10       subcat11          animation
11       subcat12        video games
12       subcat13             shorts
13       subcat14            fiction
14       subcat15  photography books
15       subcat16   radio & podcasts
16       subcat17              metal
17       subcat18               jazz
18       subcat19       translations
19       subcat20         television
20       subcat21       mobile games
21       subcat22        world music
22       subcat23    science fiction
23       subcat24              audio

In [28]:
# Export categories_df and subcategories_df as CSV files with unique file names.
category_df.to_csv(r"C:\Users\Tasnia Wahid\Desktop\Starter_Files\Resources\categories.csv", index=False)

subcategory_df.to_csv(r"C:\Users\Tasnia Wahid\Desktop\Starter_Files\Resources\subcategories.csv", index=False)